node_modules/
.expo/
.expo-shared/
web-build/
android/
ios/
build/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.DS_Store
Thumbs.db

.env
.env.*

.vscode/
.idea/

.cache/
.packager/
metro-cache/

coverage/

